---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
    <main>
        <div class="header-container">
            <a href="/">
                <h1>Nemo Ziener</h1>
            </a>
            <a href="contact">
                <h1 class="sofa-text">Contact</h1>
            </a>
        </div>
        <hr class="horizontal">
        <hr class="vertikal">
        <div class="contact-container">
            <h1>Reach me via:</h1>
            <h2><a href="mailto:Nemo.Ziener@proton.me">Nemo.Ziener@proton.me</a></h2>
            <h2><a href="https://www.linkedin.com/in/nemo-ziener" target="_blank" rel="noopener noreferrer">LinkedIn: www.linkedin.com/in/nemo-ziener</a></h2>
            <h2><a href="https://www.github.com/Nemozi" target="_blank" rel="noopener noreferrer">GitHub: www.github.com/Nemozi</a></h2>
        </div>
    </main>
</Layout>

<style>
    html, body {
        background-color: #f2e8fa;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }
    .contact-container {
        text-align: left;
        padding: 2rem;
        color: black;
        width: 100%;
    }
    h1 {
        font-size: 2rem;
        margin: 0;
        color: black; 
    }
    .contact-container h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 1.5rem; 
        margin-bottom: 1rem;
        color: black; 
        text-align: left;
        margin-left: 1rem; 
        font-family: links;
    }
    a {
        color: black; 
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .horizontal {
        border-bottom: 1vh solid #000000;
        margin-bottom: 10vh;
        margin-top: 0;
    }
    .vertikal {
        border-left: 1vh solid #000000;
        height: 100vh;
        position: absolute;
        top: 0;
    }
    @media (max-width: 768px) {
        .header-container {
            flex-direction: column; 
            text-align: center;
        }
        .contact-container h1 {
            font-size: 2.5rem; 
        }
        h2 {
            font-size: 1.2rem; 
            margin-left: 0; 
            text-align: center;
        }
        .horizontal, .vertikal {
            display: none; 
        }
    }
</style>