---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hey">
	<main>
		<div class="container">
			<div class="coding">
				<a href="https://makesign.github.io/">
					<img class="link" src="makesign(1).png">
				</a>
			</div>
			<div class="stuff">
				<a href="stuff">
					<img class="link" src="stuff.png">
				</a>
			</div>
			<div class="sofa">
				<a href="sofa">
					<img class="link" src="sofa.png">
				</a>
			</div>
		</div>
	</main>
</Layout>

<style>
	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
	}
	.link{
		width: 100%;
	}
	.link:hover {
		transform: scale(1.1);
		filter:invert();
	}
</style>
