---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hey">
    <main>
        <div class="header-container">
            <a href="/">
                <h1>Nemo Ziener</h1>
            </a>
            <a href="contact">
                <h1 class="sofa-text">Contact</h1>
            </a>
        </div>
        <hr class="horizontal">
        <hr class="vertikal">
        <div class="container">
            <div class="coding">
                <a href="https://makesign.github.io/">
                    <img class="link" src="makesign(1).png">
                </a>
            </div>
            <div class="stuff">
                <a href="stuff">
                    <img class="link" src="stuff.png">
                </a>
            </div>
            <div class="sofa">
                <a href="sofa">
                    <img class="link" src="sofa.png">
                </a>
            </div>
        </div>
    </main>
</Layout>

<style>
    html, body {
        background-color: #f2e8fa;
        background-size: cover; /* Ensure the background image covers the entire frame */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Prevent the background image from repeating */
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }

    h1 {
        font-size: 2rem;
        margin: 0;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        margin: 0;
        padding: 0;
    }
    .link {
        width: 100%;
    }
    .link:hover {
        transform: scale(1.1);
        filter: invert();
    }
    .horizontal {
        border-bottom: 1vh solid #000000;
        margin-bottom: 10vh;
        margin-top: 0;
    }
    .vertikal {
        border-left: 1vh solid #000000;
        height: 100vh;
        position: absolute;
        top: 0;
    }
    @media (max-width: 768px) {
        .header-container {
            flex-direction: column; /* Stack items vertically on smaller screens */
            text-align: center;
        }
        h1 {
            font-size: 1.5rem; /* Adjust font size for better readability on mobile */
        }
        .container {
            grid-template-columns: 1fr; /* Stack items vertically on smaller screens */
        }
        .horizontal, .vertikal {
            display: none; /* Hide lines on smaller screens */
        }
    }
</style>