
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Nemo Ziener</title>
	</head>
	<body>
		<h1>Nemo Ziener</h1>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
	font-family: 'Karrik';
	src: url('/fonts/Karrik.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	}
	body {
		background-color: #a37cc4;
	}
	h1 {
		color: #fff;
		font-family: ;
		margin-left:8rem;
		font-family: karrik;
		font-size: 8rem;
	}
</style>
